.image_text_1 {
	float:left;
	margin:2% 0% 0 13%;
	font-size: 120%;
	font-family: 'Inknut Antiqua', serif;
	font-weight:300;
	line-height:140%;
	letter-spacing: -0.5px;
	width:40%;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.image_text_1:hover {
	background-image:url("resources/body_language_5_edited.jpg");
	color:rgba(0,0,0,0);
}

button {
	border: 0;
	padding: 0;
}